
#grid{
	height:100vh;
	 display:grid;
	 grid-gap:10px; 
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(5,1fr);
	margin:0;
		
}

#grid > div{
	color:white;
	background-color:green;
	font-size:2em;
	padding:10px;
}

#box-1{
	grid-column:span 4;
}

#box-2{
	grid-row:span 4;
}

#box-4{
	grid-column:span 2;
}

#box-5{
	grid-column:span 2;
}

#box-10{
	grid-column:span 3;
}
